body
{
  background: #fff;
  font-family: Arial, Helvetica, Sans serif;
}

.header
{
  color: #FFF;
  text-align: center;
  height: 100px;
  background-color: #000;
  display: block;
}

.header h1
{
  font-size: 30px;
  padding-top: 30px;
  height: 15px;
}

.header > a
{
  float: left;
}

.header .home
{
  background: url("../images/home.png") no-repeat scroll 0px 0px transparent;
  height: 50px;
  width: 50px;
  text-indent: -9999px;
  display: block;
}

.header .result
{
  background: url("../images/result.png") no-repeat scroll 0px 0px transparent;
  height: 50px;
  width: 50px;
  text-indent: -9999px;
  display: block;
}

/* Site list */
.content .sites
{
  width: 49%;
  overflow: auto;
}

.content .sites h2
{
  text-align: center;
  margin: 5px 0;
  font-weight: bold;
}

.content .sites.dealers
{
  float: left;
  box-shadow: 4px 4px 4px #CCC;
  -moz-box-shadow: 4px 4px 4px #CCC;
  -webkit-box-shadow: 4px 4px 4px #CCC;
}
.content .sites.showcases
{
  float: right;
  box-shadow: -4px 4px 4px #CCC;
  -moz-box-shadow: -4px 4px 4px #CCC;
  -webkit-box-shadow: -4px 4px 4px #CCC;
}

.content .sites > table
{
  margin: 0 auto;
  line-height: 22px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  margin-top: 50px;
  font-size: 14px;
  width: 100%;
}

.content .sites > table tr
{
  border-bottom: 1px dotted #ccc;
}

.content .sites > table tr:last-child
{
  border: none;
}

.content .sites > table thead th { padding: 4px 4px 4px 24px ; text-align: left; font-weight: bold; }
.content .sites > table thead .url{ background: url("../images/world.png") no-repeat 5px 6px; }
.content .sites > table thead .owner{ background: url("../images/user.png") no-repeat 5px 6px; }
.content .sites > table thead .creator{ background: url("../images/paintbrush.png") no-repeat 5px 6px; }

.content .sites > table td.eval
{
  padding: 8px 4px;
  width: 220px;
}

.content .sites > table .category
{
  font-size: x-small;
  text-align: left;
  padding: 0;
}

.content .sites > table .eval .new
{
  background: #CCC url("../images/new.png") no-repeat 4px 4px;
  font-weight: bold;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 4px 8px 4px 24px;
  border: 1px outset #555;
  color: #222;
}

.content .sites > table .eval .new:hover
{
  text-decoration: none;
  color: #000;
  text-shadow: 0 0 4px #FFF;
}

.content .sites > table .eval .old
{
  clear: both;
  margin-top: 8px;
  max-height: 52px;
  overflow-y: scroll;
  display: block;
  border: 1px inset #CCC;
}

.content .sites > table .eval .old > li
{
  padding: 2px;
}

.content .sites > table .eval li
{
  font-size: 9px;
}

.content .sites > table .eval .old > li:hover
{
  background: #F0F0F0;
}

.content .sites > table td
{
  vertical-align: middle;
  padding: 4px;
}

.top_page
{
  padding: 5px;
  position: fixed;
  width: 220px;
}

.top_page h1
{
  font-weight: bold;
  color: #ED7F00;
  font-size: 27px;
}

.top_page h2
{
  font-size: small;
  margin-top: 10px;
}

.content form
{
  border-left: 1px solid #CCCCCC;
  margin: 0 0 0 230px;
  position: relative;
}

table.questions
{
  width: 100%;
}

.questions tr td,
.questions tr th
{
  vertical-align: middle;
  padding-left: 6px;
}

.questions tr th
{
  text-align: left;
  line-height: 20px;
  height: 60px;
  padding-top: 8px;
  padding-bottom: 8px
}

.questions tr th label p
{
  font-size: 12px;
}

.questions tr th label p strong
{
  background: #AAA;
  color: #FFF;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  margin-right: 8px;
  padding: 4px 8px;
}

.questions tr td ul > li,
.questions thead .answer_head > li
{
  float: left;
  width: 145px;
  text-align: center;
  font-size: 16px;
}

.questions thead tr .question_head
{
  background: url("../images/question.png") no-repeat scroll 100px 15px transparent;
  font-size: 20px;
  color: #ed7f00;
  font-weight: bold;
}

.questions thead tr th .answer_head
{
  width: 580px;
  margin: 0 10px;
}

.questions thead tr th .answer_head > li
{
  height: 50px;
  line-height: 15px;
}

.questions thead tr th .answer_head > li p
{
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #555;
}

.questions thead tr th .answer_head .onepoint
{
  background-color: #D71F1F;
}

.questions thead tr th .answer_head .twopoint
{
  background-color: #D98989;
}

.questions thead tr th .answer_head .threepoint
{
  background-color: #C2E15F;
}

.questions thead tr th .answer_head .fourpoint
{
  background-color: #B6C707;
}

.questions tr 
{
  height: 50px;
}

.questions tbody > tr
{
  border-bottom: 1px solid #CCCCCC;
} 

.questions .error_list
{
  background: none repeat scroll 0 0 #FF5555;
  border: 1px solid #FF0000;
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  right: -150px;
  width: 150px
}
 
.questions tr td ul > li label
{
  display: none;
}

.questions tfoot
{
  background: #CCC;
}

.questions tfoot tr td
{
  padding: 8px; 
}

.questions tfoot tr .previous
{
  float: left;
}

.questions tfoot tr .next
{
  float: right;
}

.results
{
  width: 350px;
  margin: 40px auto 0;
  font-weight: bold;
}

.results tbody tr
{
  border-bottom: 1px solid #CCCCCC;
}
  
.results tbody tr > td 
{
    height: 60px;
    line-height: 35px;
    max-width: 400px;
    padding: 12px;
}

.results tbody tr .category
{
   text-align: left;
}

.results tbody .total
{
  border: 1px solid #ccc;
}

.results tbody tr .score,
.results tbody tr .total_score
{
   text-align: right;
}

.results tbody tr .total_score
{
  color: #ed7f00;
}

a
{
  text-decoration: none;
  color: #ed7f00;
}

a:hover
{
  text-decoration: underline;
}

a:focus
{
  outline: none;
}

